{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block podsvetslug %}
<a href="{% slugurl 'home' %}" class="nav-item nav-link active">Домой</a>
<a href="{% slugurl 'abouttt' %}" class="nav-item nav-link">О нас</a>
<a href="{% slugurl 'products' %}" class="nav-item nav-link">Продукты</a>
<a href="{% slugurl 'store' %}" class="nav-item nav-link">Магазин</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Страницы</a>
    <div class="dropdown-menu bg-light rounded-0 m-0">
        <a href="{% slugurl 'features' %}" class="dropdown-item">Особенности</a>
        <a href="{% slugurl 'blog' %}" class="dropdown-item">Блог</a>
        <a href="{% slugurl 'testimonial' %}" class="dropdown-item">Свидетельство</a>
        <a href="{% slugurl 'mistake' %}" class="dropdown-item">Ошибка 404</a>

    </div>
</div>
<a href="{% slugurl 'contact' %}" class="nav-item nav-link">Контакты</a>
</div>
<div class="border-start ps-4 d-none d-lg-block">
<button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
{% endblock podsvetslug %}
{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">{{ self.about_banner_title }}</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/">Домой</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Войти</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<h1>Оставьте комментарий</h1>

<form  action="" method="POST" >
    {% csrf_token %}
    {{ form.as_p}} <!--берем все отрибуты из froms.py и через предствавления с помощью метода as_p выводим все что прописали в froms.py -->
    
    <button type="submit">Отправить</button>
</form>

{% endblock content %}
