{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block podsvetslug %}
<a href="{% slugurl 'home' %}" class="nav-item nav-link">Домой</a>
<a href="{% slugurl 'abouttt' %}" class="nav-item nav-link">О нас</a>
<a href="{% slugurl 'products' %}" class="nav-item nav-link">Продукты</a>
<a href="{% slugurl 'store' %}" class="nav-item nav-link">Магазин</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Страницы</a>
    <div class="dropdown-menu bg-light rounded-0 m-0">
        <a href="{% slugurl 'features' %}" class="dropdown-item">Особенности</a>
        <a href="{% slugurl 'blog' %}" class="dropdown-item">Блог</a>
        <a href="{% slugurl 'testimonial' %}" class="dropdown-item">Свидетельство</a>
        <a href="{% slugurl 'mistake' %}" class="dropdown-item">Ошибка 404</a>

    </div>
</div>
<a href="{% slugurl 'contact' %}" class="nav-item nav-link active">Контакты</a>
</div>
<div class="border-start ps-4 d-none d-lg-block">
<button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
{% endblock podsvetslug %}


    {% block content %}
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-2 text-dark mb-4 animated slideInDown">Связаться с нами</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/">Домой</a></li>
                    <li class="breadcrumb-item text-dark" aria-current="page">Контаткы</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Contact Start -->
    <div class="container-xxl contact py-5">
        <div class="container">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">Обратная связь</p>
                <h1 class="display-6">{{self.contact_zagolovok}}</h1>
            </div>
            <div class="row g-5 mb-5">
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="btn-square mx-auto mb-3">
                        <i class="fa fa-envelope fa-2x text-white"></i>
                    </div>
                    <p class="mb-2">{{self.contact_einfo}}</p>
                    <p class="mb-0">{{self.contact_esupport}}</p>
                </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="btn-square mx-auto mb-3">
                        <i class="fa fa-phone fa-2x text-white"></i>
                    </div>
                    <p class="mb-2">{{self.contact_phone_1}}</p>
                    <p class="mb-0">{{self.contact_phone_2}}</p>
                </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                    <div class="btn-square mx-auto mb-3">
                        <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                    </div>
                    <p class="mb-2">{{self.contact_numberstreet}}</p>
                    <p class="mb-0">{{self.contact_street}}</p>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="mb-4">{{self.contact_text_1}}</h3>
                    <p class="mb-4">{{self.contact_text_2}}. <a href="https://htmlcodex.com/contact-form">Скачать можно здесь</a>.</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Ваше имя</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Ваш e-mail</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Предмет</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 120px"></textarea>
                                    <label for="message">Сообщение</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Отправить сообщение</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <iframe class="w-100 rounded"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="height: 100%; min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    {% endblock content %}