{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block podsvetslug %}
<a href="{% slugurl 'home' %}" class="nav-item nav-link">Домой</a>
<a href="{% slugurl 'abouttt' %}" class="nav-item nav-link">О нас</a>
<a href="{% slugurl 'products' %}" class="nav-item nav-link">Продукты</a>
<a href="{% slugurl 'store' %}" class="nav-item nav-link">Магазин</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Страницы</a>
    <div class="dropdown-menu bg-light rounded-0 m-0">
        <a href="{% slugurl 'features' %}" class="dropdown-item active">Особенности</a>
        <a href="{% slugurl 'blog' %}" class="dropdown-item">Блог</a>
        <a href="{% slugurl 'testimonial' %}" class="dropdown-item">Свидетельство</a>
        <a href="{% slugurl 'mistake' %}" class="dropdown-item">Ошибка 404</a>

    </div>
</div>
<a href="{% slugurl 'contact' %}" class="nav-item nav-link">Контакты</a>
</div>
<div class="border-start ps-4 d-none d-lg-block">
<button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
{% endblock podsvetslug %}


    {% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-2 text-dark mb-4 animated slideInDown">Особеннсоти</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Домой</a></li>
                    
                    <li class="breadcrumb-item text-dark" aria-current="page">Особенности</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Video Start -->
    <div class="container-fluid video" style="margin-top: 6rem; margin-bottom: 6rem;">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-6 py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="py-5">
                        <h1 class="display-6 mb-4">{{self.features_opisanie_1}}<span class="text-white"></span> <span class="text-white"></span></h1>
                        <h5 class="fw-normal lh-base fst-italic text-white mb-5">{{self.features_opisanie_2}}</h5>
                        <div class="row g-4 mb-5">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <span class="text-dark">{{self.features_opisanie_3}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <span class="text-dark">{{self.features_opisanie_4}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <span class="text-dark">{{self.features_opisanie_5}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <span class="text-dark">{{self.features_opisanie_6}}</span>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-light rounded-pill py-3 px-5" href="">Иследовать больше</a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    {% endblock content %}
